coverage ~=4.5.3
doctr ~=1.8.0
pyflakes ~=2.1.1
pytest ~=4.6.3
vcrpy ~=2.0.1
doctr ~=1.8.0
ipython ~=7.5.0
matplotlib ~=3.1.0
numpydoc ~=0.9.1
requests-mock ~=1.6.0
sphinx ~=2.1.2
sphinx_rtd_theme ~=0.4.3
