# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
check-wheel-contents ~=0.1.0
codecov
coverage
flake8
requests-mock
pytest
sphinx ~=3.1.1
vcrpy
# These are dependencies of various sphinx extensions for documentation.
ipython
numpydoc ~=1.0.0
sphinx-copybutton ~=0.2.12
sphinx_rtd_theme ~=0.5.0
