# These are required for building documentation. They are separated out because
# there are a variety of compatibility issues with our other dev dependencies
# on Python versions < 3.10 (which we support), so you have to install them in
# a separate environment from the other dev dependencies.
sphinx ~=7.2.6
ipython ~=8.16.1
numpydoc ~=1.6.0
sphinx-copybutton ~=0.5.2
sphinx_rtd_theme ~=1.3.0
