# These are required for developing the package (running the tests, packaging
# etc.) but not necessarily required for _using_ it.
wheel
check-wheel-contents ~=0.1.0
codecov
coverage
flake8 ~=6.1.0
requests-mock
pytest
vcrpy
twine
