interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://web.archive.org/web/20200925075402id_/https://link.springer.com/article/10.1007/s00382-012-1331-2
  response:
    body:
      string: ''
    headers:
      X-NA:
      - '0'
      X-NID:
      - '-'
      X-Page-Cache:
      - MISS
      X-RL:
      - '0'
      X-location:
      - All
      link:
      - <https://link.springer.com/article/10.1007/s00382-012-1331-2>; rel="original",
        <https://web.archive.org/web/timemap/link/https://link.springer.com/article/10.1007/s00382-012-1331-2>;
        rel="timemap"; type="application/link-format", <https://web.archive.org/web/https://link.springer.com/article/10.1007/s00382-012-1331-2>;
        rel="timegate", <https://web.archive.org/web/20160410042521/http://link.springer.com:80/article/10.1007/s00382-012-1331-2>;
        rel="first memento"; datetime="Sun, 10 Apr 2016 04:25:21 GMT", <https://web.archive.org/web/20200925075359/http://link.springer.com/article/10.1007/s00382-012-1331-2>;
        rel="prev memento"; datetime="Fri, 25 Sep 2020 07:53:59 GMT", <https://web.archive.org/web/20200925075402/https://link.springer.com/article/10.1007/s00382-012-1331-2>;
        rel="memento"; datetime="Fri, 25 Sep 2020 07:54:02 GMT", <https://web.archive.org/web/20200925075440/https://link.springer.com/article/10.1007/s00382-012-1331-2>;
        rel="next memento"; datetime="Fri, 25 Sep 2020 07:54:40 GMT", <https://web.archive.org/web/20230924185025/https://link.springer.com/article/10.1007/s00382-012-1331-2>;
        rel="last memento"; datetime="Sun, 24 Sep 2023 18:50:25 GMT"
      location:
      - https://web.archive.org/web/20200925075402id_/https://idp.springer.com/authorize?response_type=cookie&client_id=springerlink&redirect_uri=https://link.springer.com/article/10.1007/s00382-012-1331-2
      memento-datetime:
      - Fri, 25 Sep 2020 07:54:02 GMT
      x-app-server:
      - wwwb-app223
      x-archive-orig-accept-ranges:
      - bytes
      - bytes
      x-archive-orig-age:
      - '0'
      x-archive-orig-cache-control:
      - no-cache
      x-archive-orig-connection:
      - close
      x-archive-orig-content-length:
      - '0'
      x-archive-orig-date:
      - Fri, 25 Sep 2020 07:54:02 GMT
      x-archive-orig-server:
      - Oscar Platform 0.230.0
      x-archive-orig-set-cookie:
      - sim-inst-token="1::1601050442675:a4f8057d"; Domain=.springer.com; Path=/;
        secure; HttpOnly
      - trackid="9vvnlgq9dh3qh7nus068mmils"; Domain=.springer.com; Path=/; secure;
        HttpOnly
      x-archive-orig-vary:
      - X-Oscar-Cache-Mode
      x-archive-orig-via:
      - 1.1 google
      - 1.1 varnish
      x-archive-orig-x-b3-parentspanid:
      - 951acd715f172ef6
      x-archive-orig-x-b3-sampled:
      - '0'
      x-archive-orig-x-b3-spanid:
      - de6dd28213fbd703
      x-archive-orig-x-b3-traceid:
      - 951acd715f172ef6
      x-archive-orig-x-cache:
      - MISS, MISS
      x-archive-orig-x-cache-grace:
      - 'NO'
      x-archive-orig-x-cache-hits:
      - '0'
      x-archive-orig-x-cacheable:
      - NO:Not Cacheable
      x-archive-orig-x-cdn-origin:
      - SNPaaS
      x-archive-orig-x-dump-request-bodies:
      - '0'
      x-archive-orig-x-served-by:
      - 9d852584-e818-47e9-a726-4e43d86a6155, cache-sjc10027-SJC
      x-archive-orig-x-timer:
      - S1601020442.494388,VS0,VE281
      x-archive-orig-x-vcap-request-id:
      - 37e2cc4d-7495-4501-4712-d3033745fde9
      x-archive-src:
      - nesdis.noaa.gov-20200905-095243/IA-FOC-nesdis.noaa.gov-20200925075354-00000.warc.gz
      x-tr:
      - '437'
      x-ts:
      - '303'
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://web.archive.org/web/20200925075402id_/https://idp.springer.com/authorize?response_type=cookie&client_id=springerlink&redirect_uri=https://link.springer.com/article/10.1007/s00382-012-1331-2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-NA:
      - '0'
      X-NID:
      - '-'
      X-Page-Cache:
      - MISS
      X-RL:
      - '0'
      X-location:
      - All
      location:
      - https://web.archive.org/web/20200925075411id_/https://idp.springer.com/authorize?response_type=cookie&client_id=springerlink&redirect_uri=https://link.springer.com/article/10.1007/s00382-012-1331-2
      x-app-server:
      - wwwb-app217
      x-archive-redirect-reason:
      - found capture at 20200925075411
      x-tr:
      - '150'
      x-ts:
      - '302'
    status:
      code: 302
      message: FOUND
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://web.archive.org/web/20200925075411id_/https://link.springer.com/article/10.1007/s00382-012-1331-2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-NA:
      - '0'
      X-NID:
      - '-'
      X-Page-Cache:
      - MISS
      X-RL:
      - '0'
      X-location:
      - All
      location:
      - https://web.archive.org/web/20200925075402id_/https://link.springer.com/article/10.1007/s00382-012-1331-2
      x-app-server:
      - wwwb-app215
      x-archive-redirect-reason:
      - found capture at 20200925075402
      x-tr:
      - '224'
      x-ts:
      - '302'
    status:
      code: 302
      message: FOUND
version: 1
