interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://web.archive.org/web/20171124151315id_/https://www.fws.gov/birds/
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]>      <html class=\"no-js lt-ie9
        lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html class=\"no-js
        lt-ie9 lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html class=\"no-js
        lt-ie9\"> <![endif]-->\n<!--[if gt IE 8]><!-->\n<html class=\"no-js\"><!--
        InstanceBegin template=\"/Templates/home.dwt.php\" codeOutsideHTMLIsLocked=\"false\"
        -->\n<!--<![endif]-->\n<head>\n<!-- InstanceBeginEditable name=\"doctitle\"
        -->\n<title>U.S. Fish &amp; Wildlife Service - Migratory Bird Program | Conserving
        America's Birds</title>\n<!-- InstanceEndEditable -->\n<meta charset=\"utf-8\">\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\">\n\n<link rel=\"shortcut
        icon\" href=\"/birds/favicon.ico?\" type=\"image/x-icon\">\n<link rel=\"apple-touch-icon\"
        href=\"/birds/apple-touch-icon.png\" />\n\n<script src=\"/birdhabitat/js/vendor/modernizr-2.6.2.min.js\"></script>\n<script
        type=\"text/javascript\" src=\"//use.typekit.net/dhg2ksl.js\"></script>\n<script
        type=\"text/javascript\">try{Typekit.load();}catch(e){}</script>\n<!-- THIS
        IS THE TYPEKIT HOSTED BY BLUEWATER\n<script type=\"text/javascript\" src=\"//use.typekit.net/xmt4eti.js\"></script>\n<script
        type=\"text/javascript\">try{Typekit.load();}catch(e){}</script> -->\n\n<link
        rel=\"stylesheet\" href=\"/[...]
