interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://web.archive.org/web/20171124151315/https://www.fws.gov/birds/
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]>      <html class=\"no-js lt-ie9
        lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html class=\"no-js
        lt-ie9 lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html class=\"no-js
        lt-ie9\"> <![endif]-->\n<!--[if gt IE 8]><!-->\n<html class=\"no-js\"><!--
        InstanceBegin template=\"/Templates/home.dwt.php\" codeOutsideHTMLIsLocked=\"false\"
        -->\n<!--<![endif]-->\n<head><script src=\"//archive.org/includes/analytics.js?v=cf34f82\"
        type=\"text/javascript\"></script>\n<script type=\"text/javascript\">window.addEventListener('DOMContentLoaded',function(){var
        v=archive_analytics.values;v.service='wb';v.server_name='wwwb-app203.us.archive.org';v.server_ms=603;archive_analytics.send_pageview({});});</script>\n<script
        type=\"text/javascript\" src=\"/_static/js/bundle-playback.js?v=1WaXNDFE\"
        charset=\"utf-8\"></script>\n<script type=\"text/javascript\" src=\"/_static/js/wombat.js?v=txqj7nKC\"
        charset=\"utf-8\"></script>\n<script>window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={\"autoplay\":\"on\",\"unmuteOverlay\":\"hidden\"};</script>\n<script
        type=\"text/javascript\" src=\"/_static/js/ruffle.js\"></script>\n<script
        type=\"text/javascript\">\n  __wm.init(\"https://web.archive.org/web\");\n
        \ __wm.wombat(\"https://www.fws.gov/birds/\",\"20171124151315\",\"https://web.archive.org/\",\"web\",\"/_static/\",\n\t
        \     \"1511536395\");\n</script>\n<link rel=\"stylesheet\" type=\"text/css\"
        href=\"/_static/css/banner-styles.css?v=S1zqJCYt\" />\n<link rel=\"stylesheet\"
        type=\"text/css\" href=\"/_static/css/iconochive.css?v=qtvMKcIJ\" />\n<!--
        End Wayback Rewrite JS Include -->\n\n<!-- InstanceBeginEditable name=\"doctitle\"
        -->\n<title>U.S. Fish &amp; Wildlife Service - Migratory Bird Program | Conserving
        America's Birds</title>\n<!-- InstanceEndEditable -->\n<meta charset=\"utf-8\">\n<meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\">\n\n<link rel=\"shortcut
        icon\" href=\"/web/20171124151315im_/https://www.fws.gov/birds/favicon.ico\"
        type=\"image/x-icon\">\n<link rel=\"apple-touch-icon\" href=\"/web/20171124151315im_/https://www.fws.gov/birds/apple-touch-icon.png\"/>\n\n<script
        src=\"/web/20171124151315js_/https://www.fws.gov/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://web.archive.org/web/20171124151315id_/https://www.fws.gov/birds/
  response:
    body:
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]>      <html class=\"no-js lt-ie9
        lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html class=\"no-js
        lt-ie9 lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html class=\"no-js
        lt-ie9\"> <![endif]-->\n<!--[if gt IE 8]><!-->\n<html class=\"no-js\"><!--
        Inst[...]
