interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://web.archive.org/web/20171124143728id_/http://fws.gov/
  response:
    body:
      string: "\uFEFF<!DOCTYPE html>\n<html lang=\"en\"><!-- InstanceBegin template=\"/Templates/HomeBoot3Nested2.dwt\"
        codeOutsideHTMLIsLocked=\"false\" -->\n \t<HEAD>\n        <meta charset=\"utf-8\">\n
        \       <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <!--
        The above 3 meta tags *must* come first in the head; any other head content
        must come *after* these tags -->\n    <!--THIS IS A PART OF A SET OF NESTED
        TEMPLATES. SOME CHANGES MAY NEED TO BE MADE IN ONE OF THE OTHER TEMPLATES
        THAT ARE PART OF THIS NEST. The templates included in this nest are: HomeBoot3.dwt,
        HomeBoot3Nested.dwt and HomeBoot3Nested2.dwt -->\n    \n\n    \n    <!-- InstanceBeginEditable
        name=\"head\" -->\n    <!-- InstanceEndEditable -->\n    \n    \n    \n    <!--
        REQUIRED METADATA -->\n    \n\n   <!-- InstanceBeginEditable name=\"doctitle\"
        --> <title>U.S. Fish and Wildlife Service</title><!-- InstanceEndEditable
        -->\n       <!-- InstanceBeginEditable name=\"metatags\" -->\n       <meta
        name=\"Description\" content=\"Agency manages National wildlife refuges, protects
        endangered species, manages migratory birds, restores nationally significant
        fisheries and enforces federal wildlife laws.\" />\n    <meta name=\"author\"
        content=\"U.S. Fish and Wildlife Service\" />\n    <!-- \"Last Reviewed Date\"
        indicates when this page received a full review and edit to ensure compliance
        with FWS Web standards. -->\n    <meta name=\"Last Reviewed Date:\" content=\"09/02/2015\"
        />\n    <meta name=\"p:domain_verify\" content=\"93118909b2f0a911385cf2ae3c6c51f8\"/>\n
        \   <script type=\"text/javascript\">\nfunction MM_swapImgRestore() { //v3.0\n
        \ var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;\n}\nfunction
        MM_preloadImages() { //v3.0\n  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new
        Array();\n    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0;
        i<a.length; i++)\n    if (a[i].indexOf(\"#\")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}\n}\n\nfunction
        MM_findObj(n, d) { //v4.01\n  var p,i,x;  if(!d) d=document; if((p=n.indexOf(\"?\"))>0&&parent.frames.length)
        {\n    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}\n
        \ if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];\n
        \ for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);\n
        \ if(!x && d.getElementById) x=d.getElementById(n); return x;\n}\n\nfunction
        MM_swapImage() { //v3.0\n  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new
        Array; for(i=0;i<(a.length-2);i+=3)\n   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x;
        if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}\n}\n    </script>\n    <!-- InstanceEndEditable
        -->\n    <!-- END REQUIRED METADATA -->\n    <!-- Bootstrap -->\n    <link
        href=\"home/Boot3/assets/css/bootstrap.min.css\" rel=\"stylesheet\" type=\"text/css\">\n
        \    \n     <!--Service styles -->\n    <link href=\"home/Boot3/assets/css/HomeStyles.css\"
        rel=\"stylesheet\" type=\"text/css\" media=\"screen\">\n    <link href=\"home/Boot3/assets/css/serviceStyles.css\"
        rel=\"stylesheet\" type=\"text/css\" media=\"screen\">\n    <!-- <link href=\"link
        to your css file\" rel=\"stylesheet\" type=\"text/css\" media=\"screen\">
        -->\n    \n    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements
        and media queries -->\n    <!-- WARNING: Respond.js doesn't wo[...]
