version: 2.1
jobs:
  test:
    parameters:
      python-version:
        type: string

    working_directory: ~/wayback
    docker:
      - image: circleci/python:<< parameters.python-version >>
    steps:
      - checkout
      - restore_cache:
          key: cache_v2-wayback-{{ arch }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}

      # Bundle install dependencies
      - run:
          name: Install Dependencies
          command: |
            python -m venv ~/venv
            . ~/venv/bin/activate
            pip install .
            pip install -r requirements-dev.txt  # extra requirements for tests, docs

      # Store bundle cache
      - save_cache:
          key: cache_v2-wayback-{{ arch }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
          paths:
            - ~/venv

      - run:
          name: Tests
          command: |
            . ~/venv/bin/activate
            coverage run -m pytest
      - run:
          name: Coverage
          command: |
            . ~/venv/bin/activate
            coverage report -m
      - run:
          name: Code linting
          command: |
            . ~/venv/bin/activate
            flake8 .
      - run:
          name: Build docs
          command: |
            . ~/venv/bin/activate
            make -C docs html

workflows:
  build:
    jobs:
      - test:
          matrix:
            parameters:
              python-version: ["3.6", "3.7"]
