<% include parts/header.ejs %>
    <div class="row">
        <% if((typeof oldUrl !== 'undefined') && (typeof oldUrl !== 'undefined')) { %>
            <script type="text/javascript">
                $(document).ready(function() {
                    console.log('urls from get request');
                    $('#submitButton').click()
                })
            </script>
        <%}%>
        <div class="col-md-12">
            <form role="form" class="form-inline">
                <div class="form-group">

                    <label for="url1">
                        Old URL:
                    </label>
                    <input type="text" class="form-control" id="url1" value="<%= (typeof oldUrl !== 'undefined') ? oldUrl : '' %>" />
                </div>
                <div class="form-group">

                    <label for="url2">
                        New URL:
                    </label>
                    <input type="text" class="form-control" id="url2" value="<%= (typeof newUrl !== 'undefined') ? newUrl : '' %>" />
                </div>
                <button type="button" class="btn btn-default" id="submitButton">
                    Diff
                </button>
            </form>
            <div class="progress active progress-striped">
                <div class="progress-bar progress-success" style="width:100%" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100">
                    <span>Please wait<span class="dotdotdot"></span></span>
                </div>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" id="pageView">
        </div>
        <% include parts/tools.ejs %>
    </div>
<% include parts/footer.ejs %>